.DS_Store
Thumbs.db
blob-store
storage
recovery
compile-cache
cache
.projects.cson
.remote-sync.cson
/zsh/log
/zsh/cache
Thumbs.db
.DS_Store
projects/sublime/Packages/User/Package Control.cache/**
projects/sublime/Packages/User/Package Control.last-run
