[
  {
    "title": "home"
    "paths": [
      "~/"
    ]
  }
  {
    "title": ".atom"
    "paths": [
      "~/.atom"
    ]
  }
  {
    "title": ".dotfiles"
    "paths": [
      "~/.dotfiles"
    ]
  }
]
