[user]
  name = nopphasinara
  email = nopphasin.arayasirikul@gmail.com
[credential]
  username = nopphasinara
  helper = osxkeychain
  useHttpPath = true
[web]
  browser = google-chrome
[github]
  user = nopphasinara
[core]
  editor = Atom
  excludesfile = ~/.dotfiles/configs/git/.gitignore
